<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llw.easylibrary">

    <application
        android:name=".EasyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_easy_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_easy_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyLibrary">
        <activity android:name=".ui.AnimationActivity"></activity>
        <activity android:name=".ui.IntentActivity" />
        <activity android:name=".ui.LogActivity" />
        <activity android:name=".ui.AppInfoActivity" />
        <activity android:name=".ui.ToastActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.DateTimeActivity" />
        <activity android:name=".ui.SharedPreferencesActivity" />
        <activity android:name=".ui.RegexActivity" />


        <!-- Android7.0以后读取文件需要配置Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.llw.easylibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>